<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
  		<div id="first-part-color">
  				<div id="image-container">
  					<img id="image" src="/images/IMG_20180413_082551_897.jpg"><br>
  					<span id="name-of-user">Mr <%= title %></span><br>
  					<button id="follow-button">Follow</button>
  				</div>
  		</div>

  		<div id="second-part-color">
  			
  		</div>
      <script src="/javascripts/follow.js"></script>
  </body>
</html>
